.input{
  width: 40% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.lg_btn{
  width: 40% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 6% !important;
}
