


  <table class="tbl_titulo">
      <tr>
        <th> <h2 mat-dialog-title><b>Detalles del ticket N°:</b> {{detalles_ticket.id}}</h2> </th>

        <th>
          <button  mat-raised-button color="accent"   (click)="verDetalleEvento()">
            <mat-icon>remove_red_eye</mat-icon> Ver macrotarea N° {{detalles_ticket.evento_id}} asociada al ticket
          </button>
      </th>
      </tr>
      <tr>
        <th>
          <h2 mat-dialog-title><b>Título del ticket:</b> {{detalles_ticket.titulo}}</h2>
        </th>
        <th>
          <button mat-raised-button color="primary" (click)="verDetalleAtencion()">
            <mat-icon>remove_red_eye</mat-icon>Ver Atención N° {{detalles_ticket.atencion_id}} asociada al ticket
          </button>
        </th>
      </tr>
  </table>

<div mat-dialog-content>
  <mat-divider></mat-divider>
      <form [formGroup]="form_ticket">
        <br>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Título del ticket: </mat-label>
            <input readonly  matInput type="text"  formControlName="titulo_tck" autocomplete="off" [(ngModel)]="detalles_ticket.titulo">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Descripción del ticket</mat-label>
            <textarea readonly rows="3" matInput  formControlName="descripcion_tck" autocomplete="off" [(ngModel)]="detalles_ticket.descripcion"></textarea>
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Fecha de resolución: </mat-label>
            <input readonly matInput type="text" formControlName="fechasolaproxD" autocomplete="off" [(ngModel)]="detalles_ticket.fechasolaproxD">
          </mat-form-field>



          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Fecha de solicitud: </mat-label>
            <input readonly matInput type="text"  formControlName="fechasolicitud" [(ngModel)]="detalles_ticket.fecha_creacionD">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Estado: </mat-label>
            <input readonly matInput type="text"  formControlName="estado" [(ngModel)]="detalles_ticket.estado">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Solicitado por: </mat-label>
            <input readonly matInput type="text"  formControlName="solicitante" [(ngModel)]="detalles_ticket.solicitante">
          </mat-form-field>



          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Ticket asignado a: </mat-label>
            <input readonly matInput type="text"  formControlName="asignado" [(ngModel)]="detalles_ticket.asignado">
          </mat-form-field>

          <div class="input3" *ngIf="usuarios.length > 0">
            <table style="width: 40% !important; text-align:left; ">
              <tr>
                <th style="color:white !important; background-color: black; font-size: 15px !important;">Notificado a</th>
              </tr>
              <tr *ngFor="let u of usuarios">
                <td  style="border-bottom: 1px solid gray !important;font-size: 15px !important; color: black !important">{{u.nombre}}</td>
              </tr>
            </table>
          </div>






      </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" class="action"  (click)="cerrar()"><mat-icon>close</mat-icon>Cerrar </button>
</div>

