td{
  text-align: center !important;
  border-bottom: 1px solid #CFCCCC !important;

}

tr > th{
  background-color:  #003F63 !important;
  color:  white !important;
  text-align: center !important;
}


table{
  width: 85% !important;
  margin: auto !important;
}


.title{
  font-family: 'Open Sans', sans-serif !important;
  color: #003F63 !important;
}

mat-icon{
  color: white !important;
}

.input2{
  margin-left: 2% !important;
  width: 35% !important;
}

