<h3 class="title">Clientes EDESAL y Conectados < 120 días</h3>
<mat-divider></mat-divider>
<mat-tab-group>
  <mat-tab label="Clientes EDESAL registrados en FACTELEC" class="tabs">
    <br><br>

    <form [formGroup]="search_cliente_form">
          <mat-form-field appearance="legacy" class="input">
            <mat-label>Digite el nombre del cliente EDESAL registrado en FACTELEC</mat-label>
            <input matInput placeholder="Cliente EDESAL" autocomplete="off" formControlName="cliente">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="getClienteByName()"><mat-icon>search</mat-icon>Buscar</button>



    </form>

<app-detalles-cliente  [datos_cliente]='datos_cliente' [datos_contacto]='datos_contacto' [datos_suministro]='datos_suministro' [mostrarDatos]="mostrarDatos" [cargaDatos]="cargaDatos" [notfound]="notfound"></app-detalles-cliente>


      <!--<table mat-table [dataSource]="dataSource"  >

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Codigo </th>
          <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="nombrecliente">
          <th mat-header-cell *matHeaderCellDef> Nombre del Cliente </th>
          <td mat-cell *matCellDef="let row"> {{row.nombrecliente }}  {{row.apellidoCliente}}</td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef> Telefono </th>
          <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Direccion </th>
          <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef> Usuario Titular </th>
          <td mat-cell *matCellDef="let row"> {{row.usuario}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-mini-fab color="warn" matTooltip="Nueva atención" matTooltipPosition="left"><mat-icon>notifications</mat-icon></button>
            <button mat-mini-fab color="accent" matTooltip="Detalles del cliente" matTooltipPosition="above"><mat-icon>list</mat-icon></button>
            <button mat-mini-fab color="primary" matTooltip="Nuevo contacto" matTooltipPosition="right"><mat-icon>people</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"
                     showFirstLastButtons
                     aria-label="Cantidad de registros a mostrar">
      </mat-paginator>-->

  </mat-tab>
  <mat-tab label="Clientes conectados < 120 días">



  </mat-tab>

</mat-tab-group>


