<div mat-dialog-content>
  <h2>Motivos de atención(CRM) / Tipos de solicitud (Gestiones comerciales)</h2>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="form">
        <mat-form-field appearance="legacy" class="input">

          <mat-label>Descripción: </mat-label>
          <input type="hidden" formControlName="id" [(ngModel)]="datos.id">
          <textarea rows="3" matInput  autocomplete="off" formControlName="descripcion" [(ngModel)]="datos.nombre"></textarea>
        </mat-form-field>



        <mat-form-field appearance="legacy" class="input">
          <mat-label>Sistema: </mat-label>
          <mat-select formControlName="sistema" [(ngModel)]="datos.sistema" (ngModelChange)="validar_campos($event)">
            <mat-option  value="CRM">CRM</mat-option>
            <mat-option  value="GEST. COMERCIAL">Gestiones comerciales</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input" *ngIf="validar">
          <mat-label>Orden de trabajo asociada: </mat-label>
          <mat-select formControlName="orden_trabajo">
            <mat-option  value="N/D">Selecciona</mat-option>
            <mat-option  *ngFor="let data of data_orden" [value]="data.codigo_tipo_ordentrabajo">{{data.codigo_tipo_ordentrabajo}} -- {{data.descripcion_tipo_ordentrabajo}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input" *ngIf="validar">
          <mat-label>Persona: </mat-label>
          <mat-select formControlName="tipo_persona">
            <mat-option  value="N/D">Selecciona</mat-option>
            <mat-option  value="Jurídica">Jurídica</mat-option>
            <mat-option  value="Natural">Natural</mat-option>
          </mat-select>
        </mat-form-field>
  </form>
</div>
<br><br>
<div mat-dialog-actions>

  <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Guardar información</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
</div>

