<h2 mat-dialog-title><b>Generar nuevo ticket para el evento N°:</b> {{datos_evento.id}}</h2>
<h2 mat-dialog-title><b>Título del evento:</b> {{datos_evento.evTitulo}}</h2>
<div mat-dialog-content minWidth="10px">

  <mat-tab-group>
    <mat-tab label="Información del ticket" class="tabs">

      <form [formGroup]="form_ticket">
        <br>
        <mat-form-field appearance="legacy" class="input3">
          <mat-label>ID del evento</mat-label>
          <input readonly matInput type="text"  formControlName="id_evento" [(ngModel)]="datos_evento.id">
        </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Título del ticket: </mat-label>
            <input readonly  type="hidden"  formControlName="usuario_crm" [(ngModel)]="user.id">
            <input  matInput type="text"  formControlName="titulo_tck" autocomplete="off">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input6">
            <mat-label>Descripción del ticket</mat-label>
            <textarea rows="3" matInput  formControlName="descripcion_tck" autocomplete="off"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Asignar ticket a: </mat-label>
            <mat-select formControlName="asignado_tck">
              <mat-option  *ngFor="let ob of usuario_listado" [value]="ob.id">
                {{ob.nombre}} {{ob.apellido}}
              </mat-option>
            </mat-select>


          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Notificar ticket a:</mat-label>
            <mat-select formControlName="copia_tck" (selectionChange)="getSelectText($event)">
              <mat-option  *ngFor="let ob of usuario_listado" [value]="ob.id">
                {{ob.nombre}} {{ob.apellido}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-mini-fab color="accent" (click)="addUserNotificar()"><mat-icon>add</mat-icon></button>


            <mat-card class="notfound" *ngIf="usuario_listado_notificar.length === 0">
              <mat-card-content>
                <mat-grid-list cols="1" rowHeight="100px">
                  <mat-grid-tile colspan="1" >
                    <img src="./assets/img/not-found.png"> <h1>No se agregaron usuarios a notificar</h1>
                  </mat-grid-tile>
                </mat-grid-list>

              </mat-card-content>
            </mat-card>

            <mat-card class="notfound" *ngIf="usuario_listado_notificar.length != 0">
              <mat-card-content>
                <h3 style="margin-left: 28% !important;">Usuarios a los que se le notificará de la creación del ticket</h3>
                <table *ngIf="usuario_listado_notificar.length != 0">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let us of usuario_listado_notificar; index as indexOfelement;">
                      <td>{{us.nombre}}</td>
                      <td><button mat-mini-fab color="warn" (click)="deleteUserNotificar(indexOfelement)"><mat-icon>delete</mat-icon></button></td>
                    </tr>
                  </tbody>
                </table>
            </mat-card-content>
          </mat-card>



          <mat-form-field appearance="legacy" class="input4">

            <mat-label>Fecha de resolución: </mat-label>
            <input  matInput type="date" formControlName="fecha_resolucion" autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input4">
            <mat-label>Hora de compromiso</mat-label>
            <input  matInput type="time" formControlName="hora_resolucion" autocomplete="off">
          </mat-form-field>








      </form>

      <button mat-raised-button class="lg_btn" color="primary" (click)="guardarTicket()">Guardar Solo Ticket</button>
    </mat-tab>

    <mat-tab label="Orden de trabajo (Solo Aplica para el área técnica)" class="tabs">

      <form [formGroup]="form_ticket">
        <br>
        <mat-form-field appearance="legacy" class="input3">
          <mat-label>ID del evento</mat-label>
          <input readonly matInput type="text"  formControlName="id_evento" [(ngModel)]="datos_evento.id">
        </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Trabajo solicitado: </mat-label>
            <textarea rows="3" matInput  formControlName="trabajo_solicitado" autocomplete="off"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Fecha de compromiso: (con el cliente/SH)</mat-label>
            <input  matInput type="date" formControlName="fecha_resolucion_orden" autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Hora de compromiso: (con el cliente/SH)</mat-label>
            <input  matInput type="time" formControlName="hora_resolucion_orden" autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Dirección donde se desarrollarán los trabajos: </mat-label>
            <textarea rows="3" matInput  formControlName="direccion_orden" autocomplete="off"></textarea>
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Persona contacto del cliente/SH:</mat-label>
            <input  matInput type="text" formControlName="contacto_orden" autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Teléfono de contacto del cliente/SH:</mat-label>
            <input  matInput type="text" formControlName="tel_contacto_orden" autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Gerencia que lo solicita:</mat-label>
            <mat-select formControlName="gerencia_solicita">
              <mat-option  value='' set selected>Seleccione una gerencia..</mat-option>
              <mat-option  value='Gerencia Comercial'>Gerencia Comercial</mat-option>
              <mat-option  value='SEI'>SEI</mat-option>
              <mat-option  value='Gerencia de Operaciones Comerciales'>Gerencia de Operaciones Comerciales</mat-option>
              <mat-option  value='Gerencia Técnica'>Gerencia Técnica</mat-option>
              <mat-option  value='Gerencia General'>Gerencia General</mat-option>
              <mat-option  value='Gerencia Legal'>Gerencia Legal</mat-option>
              <mat-option  value='Gerencia de Administración y Finanzas'>Gerencia de Administración y Finanzas</mat-option>

            </mat-select>
          </mat-form-field>

          <!--<mat-form-field appearance="legacy" class="input3">
            <mat-label>Unidad que lo solicita:</mat-label>
            <mat-select formControlName="unidad_solicita">
              <mat-option  value='' set selected>Seleccione una agencia..</mat-option>
              <mat-option  value='Ciudad Real'>Ciudad Real</mat-option>
              <mat-option  value='Versailles'>Versailles</mat-option>
              <mat-option  value='San Miguel'>San Miguel</mat-option>
              <mat-option  value='San Gabriel'>San Gabriel</mat-option>
              <mat-option  value='Corporativa'>Corporativa</mat-option>
              <mat-option  value='SEI'>SEI</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Adjudicado a contratista: (Si aplica)</mat-label>
            <input  matInput type="text" formControlName="adjud_contratista" autocomplete="off">
          </mat-form-field>-->

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Observaciones: </mat-label>
            <textarea rows="3" matInput  formControlName="observaciones_or" autocomplete="off"></textarea>
          </mat-form-field>


      </form>

      <button mat-raised-button class="lg_btn" color="primary" (click)="guardarTicketOrder()">Guardar Ticket y Orden</button>
    </mat-tab>
    </mat-tab-group>

</div>


