<table class="tbl_titulo">
  <tr>
    <th> <h2 mat-dialog-title><b>Detalle de atención :</b> {{arreglo_atenciones.id}}</h2> </th>

    <th>
      <button  mat-raised-button color="accent"   (click)="eventosAsociados()">
        <mat-icon>remove_red_eye</mat-icon>  Eventos asociados a la atención N° {{arreglo_atenciones.id}}
      </button>
  </th>
  </tr>
  <tr>
    <th>
      <h2 mat-dialog-title><b>Título de atención :</b> {{arreglo_atenciones.titulo_atn}}</h2>
    </th>
  </tr>
</table>




<mat-divider></mat-divider>
<div mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="Detalles generales de la atención" class="tabs">
      <form class="form_atencion" [formGroup]="form_atencion">

        <mat-form-field appearance="legacy" class="input3">
          <mat-label>Título de atención</mat-label>
          <textarea readonly matInput placeholder="Título de atención" maxlength="35" formControlName="titulo_atn"
          [(ngModel)]="arreglo_atenciones.titulo_atn" autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input3">
          <mat-label>Descripción de atención</mat-label>
          <textarea readonly matInput placeholder="Descripción de atención" formControlName="descripcion_atencion"
          [(ngModel)]="arreglo_atenciones.descripcion" autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input2" *ngIf="arreglo_atenciones.num_suministro == null">
          <mat-label>N° Suministro</mat-label>
            <input readonly matInput type="text" [(ngModel)]="arreglo_atenciones.num_suministro" formControlName="suministro">
        </mat-form-field>


          <mat-form-field appearance="legacy" class="input2">
            <mat-label>Cliente: </mat-label>
            <input readonly matInput type="text" [(ngModel)]="arreglo_atenciones.cliente" formControlName="cliente"
            autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input2">
            <mat-label>Contacto</mat-label>
              <input readonly matInput  type="text" [(ngModel)]="arreglo_atenciones.contacto" formControlName="contacto"
              autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input2">
            <mat-label>Teléfono de contacto</mat-label>
            <input readonly matInput type="number" formControlName="telefono" [(ngModel)]="arreglo_atenciones.telefono"
            autocomplete="off">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Tipo de atención</mat-label>
            <mat-select readonly formControlName="tipo_atencion" (ngModelChange)="mostrarDatos()"  [(ngModel)]="arreglo_atenciones.id_tipo_atencion">
              <mat-option  *ngFor="let ob of list_tipo_atenciones" [value]="ob.id">
                {{ob.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Motivo de atención</mat-label>
            <mat-select readonly formControlName="motivo_atencion" [(ngModel)]="arreglo_atenciones.id_motivo_atencion">
              <mat-option  *ngFor="let ob of list_motivo_atenciones" [value]="ob.id">
                {{ob.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field appearance="legacy" class="input4" *ngIf="tipo_atencion === 'email'">
            <mat-label>Email</mat-label>
            <input readonly matInput type="text" formControlName="email" placeholder="Email" autocomplete="off"
            [(ngModel)]="arreglo_atenciones.correo" >
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input4" *ngIf="tipo_atencion === 'fax'">
            <mat-label>Fax</mat-label>
            <input readonly matInput type="text" formControlName="fax" placeholder="Fax" autocomplete="off"
            [(ngModel)]="arreglo_atenciones.fax" >
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input4" *ngIf="tipo_atencion === 'whatsapp'">
            <mat-label>Whatsapp</mat-label>
            <input readonly matInput type="text" formControlName="whatsapp" placeholder="Whatsapp" autocomplete="off"
            [(ngModel)]="arreglo_atenciones.whatsapp" >
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input2">
            <mat-label>Estado: </mat-label>
            <input readonly matInput type="text" [(ngModel)]="arreglo_atenciones.estado" formControlName="estado"
            autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input2">
            <mat-label>Usuario creación: </mat-label>
            <input readonly matInput type="text" [(ngModel)]="arreglo_atenciones.nomUsuario" formControlName="nomUsuario"
            autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input2">
            <mat-label>Fecha creación: </mat-label>
            <input readonly matInput type="text" [(ngModel)]="arreglo_atenciones.fechaC" formControlName="fecha_creacion"
            autocomplete="off">
          </mat-form-field>
      </form>
    </mat-tab>

    <mat-tab label="Archivos adjuntos" class="tabs">
      <br><br>
      <h3>Adjuntos cargados a la atención</h3>
      <table class="tbl_archivos">
        <thead>
            <tr>
              <th>Archivo</th>
              <th>Descripción</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ad of datos_adjuntos">
            <td>{{ad.adjunto}}</td>
            <td>{{ad.descripcion}}</td>
            <td>
              <a   mat-mini-fab color="accent" matTooltip="Descargar Archivo" matTooltipPosition="above" [href]="rutaFile+ad.adjunto">
                <mat-icon>cloud_download</mat-icon>
              </a>
              <button  mat-mini-fab color="basic" class="success" matTooltip="Ver Archivo" matTooltipPosition="above" (click)="verArchivo(ad)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    </mat-tab-group>



</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" class="action"  (click)="Cerrar()"> Cerrar</button>
</div>


