


<table class="tbl_titulo">
  <tr>
    <th> <h2 mat-dialog-title ><b>Detalles del evento N°:</b> {{eventos_obj.id}}</h2></th>

    <th>
      <button  mat-raised-button color="accent"   (click)="verTicketsAsociados(eventos_obj)">
        <mat-icon>remove_red_eye</mat-icon>  Tickets asociados al evento {{eventos_obj.id}}
      </button>
  </th>
  </tr>
  <tr>
    <th>
      <h2 mat-dialog-title ><b>Título del evento:</b> {{eventos_obj.eventoTitulo}}</h2>
    </th>
  </tr>
</table>



<mat-divider></mat-divider>
<div mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="Detalles generales del evento" class="tabs">

      <form class="form_evento" [formGroup]="form_evento" >
        <br>
        <mat-form-field appearance="legacy" class="input2">
          <mat-label>N° Suministro</mat-label>
          <input readonly matInput type="text"  formControlName="suministro" [(ngModel)]="eventos_obj.num_suministro">
        </mat-form-field>

          <mat-form-field appearance="legacy" class="input2">
            <mat-label>ID de atención: </mat-label>
            <input readonly  type="hidden"  formControlName="usuario_crm" [(ngModel)]="user.id">
            <input readonly matInput type="text"  formControlName="atencion_id" [(ngModel)]="eventos_obj.id">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input2">
            <mat-label>Cliente:</mat-label>
            <input readonly matInput type="text" formControlName="cliente"  [(ngModel)]="eventos_obj.cliente">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Título del evento</mat-label>
            <textarea readonly rows="3"  matInput formControlName="titulo_evt" autocomplete="off" [(ngModel)]="eventos_obj.eventoTitulo"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Descripción del evento</mat-label>
            <textarea readonly matInput  maxlength="50" autocomplete="off" formControlName="descripcion_evt" [(ngModel)]="eventos_obj.descripcion"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Fecha de Compromiso</mat-label>
            <input readonly matInput type="text" formControlName="fecha_compromiso" [(ngModel)]="eventos_obj.fecha_compromisoF">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input3">
            <mat-label>Fecha de Resolución (Con el cliente)</mat-label>
            <input readonly matInput type="text" formControlName="fecha_resolucion" [(ngModel)]="eventos_obj.fecha_resolucionF">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input3" *ngIf="eventos_obj.estado === 'Cerrado'">
            <mat-label>Resolución</mat-label>
            <input readonly matInput type="text" formControlName="resolucion" [(ngModel)]="eventos_obj.resolucion">
          </mat-form-field>

      </form>
    </mat-tab>

    <mat-tab label="Archivos adjuntos" class="tabs">
      <br><br>
      <h3>Adjuntos cargados al evento</h3>
      <table class="tbl_archivos">
        <thead>
            <tr>
              <th>Archivo</th>
              <th>Descripción</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ad of datos_adjuntos">
            <td>{{ad.adjunto}}</td>
            <td>{{ad.descripcion}}</td>
            <td>
              <a   mat-mini-fab color="accent" matTooltip="Descargar Archivo" matTooltipPosition="above" [href]="rutaFile+ad.adjunto">
                <mat-icon>cloud_download</mat-icon>
              </a>
              <button  mat-mini-fab color="basic" class="success" matTooltip="Ver Archivo" matTooltipPosition="above" (click)="verArchivo(ad)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>

  </mat-tab-group>

</div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" class="action"  (click)="Cerrar()"> Cerrar</button>
  </div>


