
<h3 mat-dialog-title ><b>Detalles de la macrotarea N°:</b> {{detalle_evento.id}}</h3>
<h3 mat-dialog-title ><b>Título de la macrotarea:</b> {{detalle_evento.eventoTitulo}}</h3>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div mat-dialog-content *ngIf="no_tickets">
      <h2 class="form-title">Confirmación para guardar resolución de la macrotarea</h2>
      <form [formGroup]="frm_resolucion_evt">
        <br>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>Resolución de la macrotarea</mat-label>
          <textarea  matInput rows="4" formControlName="resolucion_evt" placeholder="Digite la resolución de la macrotarea"
          autocomplete="off"></textarea>
          <input type="hidden" formControlName="evt_id" [(ngModel)]="detalle_evento.id">
        </mat-form-field>
        <button mat-raised-button class="lg_btn" color="primary" (click)="guardarResolucion()">Guardar Resolución</button>
      </form>

</div>

<div mat-dialog-content *ngIf="si_tickets">
  <h2 class="form-title">La macrotarea no se puede cerrar porque los siguientes tickets no se han cerrado</h2><br>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Solicitante</th>
        <th>Asignado a</th>
        <th>Fecha de solicitud</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tck of ticketsPendientes">
        <td>{{tck.id}}</td>
        <td class="desc">
          <div class="desc_div">
            {{tck.descripcion}}
          </div>
        </td>
        <td>{{tck.nombresoli}} {{tck.apellidosoli}}</td>
        <td>{{tck.nombreasignado}} {{tck.apellidoasignado}}</td>
        <td>{{tck.fecha_creacionD}}</td>
        <td>{{tck.estado}}</td>
      </tr>
    </tbody>
  </table>
</div>
