
<mat-progress-bar mode="indeterminate" *ngIf="cargaDatos"></mat-progress-bar>

<mat-card class="notfound" *ngIf="notfound">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile colspan="1" >
        <img src="./assets/img/not-found.png"> <h1>No se encontraron resultados</h1>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>


<mat-card *ngIf="mostrarDatos">
  <mat-card-header>
    <mat-card-title>Detalles del Cliente
      <button mat-raised-button color="primary" (click)="open_modal_atenciones()"><mat-icon>notifications</mat-icon>Nueva atención</button>
      <button mat-raised-button color="accent" (click)="open_modal_contacto()"><mat-icon>people</mat-icon>Nuevo Contacto</button>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
  <table class="tbl_cliente">
    <thead>
      <tr>
        <th>Código de Cliente</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Usuario Titular</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{datos_cliente.codigo}}</td>
        <td>{{datos_cliente.nombrecliente}} {{datos_cliente.apellidocliente}}</td>
        <td>{{datos_cliente.direccion}}</td>
        <td>{{datos_cliente.usuario}}</td>
      </tr>
    </tbody>
  </table>

  </mat-card-content>



  <mat-tab-group>
    <mat-tab label="Contactos" class="tabs">
     <h2 class="title">Contactos del cliente</h2>
     <br><br>

     <table>
       <thead>
         <tr>
           <th>Contacto</th>
           <th>Cargo</th>
           <th>Correo</th>
           <th>Teléfono 1</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let ob of datos_contactos">
           <td>{{ob.nombre_contacto}}</td>
           <td>{{ob.cargo_contacto}}</td>
           <td>{{ob.correo_contacto}}</td>
           <td>{{ob.celular_1}}</td>
           <td>
            <button mat-mini-fab color="primary" matTooltip="Editar contacto" matTooltipPosition="left" (click)="editarcontacto(ob)"><mat-icon>edit</mat-icon></button>
            <button mat-mini-fab color="warn" matTooltip="Eliminar contacto" matTooltipPosition="right" (click)="eliminarcontacto(ob)"><mat-icon>delete</mat-icon></button>
           </td>
         </tr>
       </tbody>
     </table>
    </mat-tab>
    <mat-tab label="Suministros">
      <h2 class="title">Suministros asociados al cliente</h2><br><br>

      <table>
        <thead>
          <tr>
            <th>N° Suministro</th>
            <th>Dirección</th>
            <th>Voltaje</th>
            <th>Capacidad</th>
            <th>Tarifa</th>
            <th>Tipo Tensión</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ob of datos_suministro">
            <td>{{ob.num_suministro}}</td>
            <td>{{ob.anexo_direccion}}</td>
            <td>{{ob.voltaje_energia}}</td>
            <td>{{ob.capacidad_maxima}}</td>
            <td>{{ob.CODIGO_TARIFA}}</td>
            <td>{{ob.tipo_tension}}</td>
            <td>{{ob.estado}}</td>
          </tr>
        </tbody>
      </table>

    </mat-tab>
  </mat-tab-group>
</mat-card>
