<h2 mat-dialog-title>Generar nueva atención</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <form class="form_atencion" [formGroup]="form_atencion" *ngIf="!validarArchivos">
    <mat-form-field appearance="legacy" class="input2" *ngIf="datos_suministro.length != 0">
      <mat-label>N° Suministro</mat-label>
      <mat-select formControlName="suministro">
        <mat-option  *ngFor="let ob of datos_suministro" [value]="ob.num_suministro">
          {{ob.num_suministro}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="input2"  *ngIf="datos_suministro.length === 0">
      <mat-label>N° Suministro: </mat-label>
      <input readonly matInput type="text" [(ngModel)]="datos_cliente.num_suministro" formControlName="suministro">
    </mat-form-field>

      <mat-form-field appearance="legacy" class="input2">
        <mat-label>Cliente: </mat-label>
        <input readonly  type="hidden" [(ngModel)]="datos_cliente.codigo" formControlName="codigo">
        <input readonly  type="hidden" [(ngModel)]="user.alias" formControlName="usuario_crm">
        <input readonly matInput type="text" [(ngModel)]="datos_cliente.nombrecliente" formControlName="cliente">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input2" *ngIf="datos_contacto.length != 0">
        <mat-label>Contacto</mat-label>
        <mat-select formControlName="contacto">
          <mat-option  *ngFor="let ob of datos_contacto" [value]="ob.nombre_contacto">
            {{ob.nombre_contacto}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input2" *ngIf="datos_contacto.length === 0">
        <mat-label>Contacto</mat-label>
        <input matInput type="text" formControlName="contacto" placeholder="Contacto" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input2">
        <mat-label>Teléfono de contacto</mat-label>
        <input matInput type="number" formControlName="telefono" placeholder="N° Telefono" autocomplete="off">
      </mat-form-field>


      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Tipo de atención</mat-label>
        <mat-select formControlName="tipo_atencion" (ngModelChange)="mostrarDatos()">
          <mat-option  *ngFor="let ob of list_tipo_atenciones" [value]="ob.id">
            {{ob.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Motivo de atención</mat-label>
        <mat-select formControlName="motivo_atencion" (ngModelChange)="getMotivoAtn($event)">
          <mat-option  *ngFor="let ob of list_motivo_atenciones" [value]="ob.id">
            {{ob.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="legacy" class="input4" *ngIf="tipo_atencion === 'email'">
        <mat-label>Email</mat-label>
        <input  matInput type="text" formControlName="email" placeholder="Email" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input4" *ngIf="tipo_atencion === 'fax'">
        <mat-label>Fax</mat-label>
        <input  matInput type="text" formControlName="fax" placeholder="Fax" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input4" *ngIf="tipo_atencion === 'whatsapp'">
        <mat-label>Whatsapp</mat-label>
        <input  matInput type="text" formControlName="whatsapp" placeholder="Whatsapp" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Título de atención</mat-label>
        <textarea matInput placeholder="Título de atención" maxlength="50" formControlName="titulo_atn" autocomplete="off"></textarea>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Descripción de atención</mat-label>
        <textarea matInput placeholder="Descripción de atención" formControlName="descripcion_atencion" autocomplete="off"></textarea>
      </mat-form-field>

      <!--Datos de apoderado-->
    <div *ngIf="tipo_persona_validar">
      <mat-divider></mat-divider>
      <h3 style="margin-top:25px !important;">Datos de apoderado</h3>
      <mat-divider></mat-divider>
      <br>
      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Nombre de apoderado</mat-label>
        <input  matInput type="text" formControlName="ap_nombre" readonly="true" placeholder="Nombre de apoderado" autocomplete="off" [(ngModel)]="datos_repre.representante">
      </mat-form-field>


      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Profesión</mat-label>
        <input  matInput type="text" formControlName="ap_profesion" readonly="true"  placeholder="Profesión" autocomplete="off" [(ngModel)]="datos_repre.profesion">
      </mat-form-field>



      <mat-form-field appearance="legacy" class="input3">
        <mat-label>N° DUI</mat-label>
        <input  matInput type="text" formControlName="ap_dui" readonly="true" placeholder="N° DUI" autocomplete="off" [(ngModel)]="datos_repre.dui">
      </mat-form-field>


      <mat-form-field appearance="legacy" class="input3">
        <mat-label>N° de NIT</mat-label>
        <input  matInput type="text" formControlName="ap_nit" readonly="true" placeholder="N° de NIT" autocomplete="off" [(ngModel)]="datos_repre.nit">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Domicilio</mat-label>
        <input  matInput type="text" formControlName="ap_domicilio" readonly="true" placeholder="Domicilio" autocomplete="off" [(ngModel)]="datos_repre.domicilio">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Departamento</mat-label>
        <input  matInput type="text" formControlName="ap_departamento" readonly="true" placeholder="Departamento" autocomplete="off" [(ngModel)]="datos_repre.departamento">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input3">
        <mat-label>Actúa como:</mat-label>
        <input  matInput type="text" formControlName="ap_actua" readonly="true" placeholder="Actúa como" autocomplete="off" [(ngModel)]="datos_repre.cargo">
      </mat-form-field>
    </div>
  </form>

    <button mat-raised-button color="primary" class="lg_btn" (click)="guardarAtencion()"
     *ngIf="!validarArchivos" [disabled] = "form_atencion.invalid">Generar Atención</button>

    <br>

    <div *ngIf="validarArchivos">

        <app-subir-archivos [atencion_id]="atencion_id" [arreglo_atenciones]="arreglo_atenciones" [tipo]="tipo" ></app-subir-archivos>

      <mat-divider></mat-divider>
    </div>

</div>

<div mat-dialog-actions>
</div>

