<div mat-dialog-content>
    <h2>Detalles de la orden N° {{detalles_orden.id}}</h2>
      <form [formGroup]="FormOrden">
        <mat-form-field appearance="legacy" class="input">
          <mat-label>Trabajo: </mat-label>
          <textarea readonly matInput rows="3"  autocomplete="off" formControlName="trabajo" [(ngModel)]="detalles_orden.solicitud"></textarea>

        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Fecha de solicitud: (Creacion de la orden) </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_solicitud" [(ngModel)]="detalles_orden.fecha_creacionD">

          <input  type="hidden"  autocomplete="off" formControlName="id" [(ngModel)]="detalles_orden.id">
        </mat-form-field>


        <mat-form-field appearance="legacy" class="input">
          <mat-label>Fecha de resolución: (Compromiso con el cliente) </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_resolucion" [(ngModel)]="detalles_orden.fecha_resolucionD">
        </mat-form-field>


        <mat-form-field appearance="legacy" class="input">
          <mat-label>Dirección: </mat-label>
          <textarea readonly matInput rows="3"  autocomplete="off" formControlName="direccion" [(ngModel)]="detalles_orden.direccion"></textarea>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Solicitante: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="solicitante" [(ngModel)]="detalles_orden.solicitante">
        </mat-form-field>


        <mat-form-field appearance="legacy" class="input">
          <mat-label>Gerencia: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="gerencia" [(ngModel)]="detalles_orden.gerencia_solicita">
        </mat-form-field>






        <mat-form-field appearance="legacy" class="input">
          <mat-label>Observaciones del solicitante: </mat-label>
          <textarea readonly matInput rows="3"  autocomplete="off" formControlName="observaciones_soli" [(ngModel)]="detalles_orden.observaciones"></textarea>
        </mat-form-field>





        <div *ngIf="(user.alias == 'fsolano' || user.alias == 'leobolanos' || user.alias == 'fmejia') && detalles_orden.aprobTecnica == 'Pendiente'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobar/Denegar orden por Gerencia Técnica</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea  matInput rows="3"  autocomplete="off" formControlName="comentario" ></textarea>
          </mat-form-field>
          <br>

          <table>
            <tr>
              <th>
                <button mat-raised-button color="basic" class="success" (click)="aprobarOrdenTecnica()"><mat-icon>thumb_up</mat-icon> Aprobar orden por gerencia técnica</button>
              </th>
              <th>
                <button mat-raised-button color="warn" (click)="denegarOrdenTecnica()"><mat-icon>thumb_down</mat-icon> Denegar orden</button>
              </th>
          </table>

        </div>


        <div style="margin-left: 3% !important;" *ngIf="(user.alias == 'rchevez' || user.alias == 'oquan' || user.alias == 'fmejia') && (detalles_orden.aprobVentas == 'Pendiente')">
          <h2 style="color: orangered !important;">Aprobar/Denegar orden por área de ventas</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea  matInput rows="3"  autocomplete="off" formControlName="comentario" ></textarea>
          </mat-form-field>

          <br>

          <table>
            <tr>
              <th>
                <button mat-raised-button color="basic" class="success" (click)="aprobarOrdenVentas()"><mat-icon>thumb_up</mat-icon> Aprobar orden por área de ventas</button>
              </th>
              <th>
                <button mat-raised-button color="warn" (click)="denegarOrdenVentas()"><mat-icon>thumb_down</mat-icon> Denegar orden</button>
              </th>
          </table>

        </div>

        <br>
        <div *ngIf="detalles_orden.aprobVentas == 'Aprobada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobación de área de ventas</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_apV"  [(ngModel)]="detalles_orden.comentarioaprob_ventas"></textarea>
          </mat-form-field>
        </div>


        <div *ngIf="detalles_orden.aprobTecnica == 'Aprobada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobación de área técnica</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_apAd"  [(ngModel)]="detalles_orden.comentarioaprob_admin"></textarea>
          </mat-form-field>
        </div>



        <div *ngIf="detalles_orden.aprobVentas == 'Denegada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Denegación de área de ventas</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_deV"  [(ngModel)]="detalles_orden.comentariodenegacion_ventas"></textarea>
          </mat-form-field>
        </div>


        <div *ngIf="detalles_orden.aprobTecnica == 'Denegada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Denegación de área técnica</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_deAd"  [(ngModel)]="detalles_orden.comentariodenegacion"></textarea>
          </mat-form-field>
        </div>


        <div *ngIf="detalles_orden.aprobTecnica == 'Aprobada' && detalles_orden.aprobVentas == 'Aprobada'" style="margin-left: 3% !important;">
          <button mat-raised-button color="basic" class="success" (click)="generarHoja()"> Imprimir Orden</button>
        </div>

      </form>



</div>

<div mat-dialog-actions>






</div>
