

<h2 mat-dialog-title>Detalles de la orden N° {{detalles_orden.id}}</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>

      <form [formGroup]="FormOrden">

        <mat-form-field appearance="legacy" style="width: 95% !important;margin-left: 2% !important;">
          <mat-label>Cliente: </mat-label>
          <input readonly matInput formControlName="cliente" [(ngModel)]="detalles_orden.cliente">

        </mat-form-field>

        <mat-form-field appearance="legacy" class="input4">
          <mat-label>ID Atención: </mat-label>
          <input readonly matInput formControlName="id_atencion" [(ngModel)]="detalles_orden.id_atencion">

        </mat-form-field>
        <mat-form-field appearance="legacy" class="input3">
          <mat-label>Titulo atención: </mat-label>
          <textarea readonly matInput rows="3"  formControlName="atencion" [(ngModel)]="detalles_orden.atencion"></textarea>

        </mat-form-field>

        <mat-form-field appearance="legacy" class="input4">
          <mat-label>ID Macrotarea: </mat-label>
          <input readonly matInput formControlName="evento" [(ngModel)]="detalles_orden.evento">

        </mat-form-field>

        <mat-form-field appearance="legacy" class="input3">
          <mat-label>Macrotarea: </mat-label>
          <textarea readonly matInput rows="3"  formControlName="evento_tt" [(ngModel)]="detalles_orden.evento_tt"></textarea>

        </mat-form-field>

        <mat-form-field appearance="legacy" class="input4">
          <mat-label>ID Ticket: </mat-label>
          <input readonly matInput formControlName="ticket_id" [(ngModel)]="detalles_orden.ticket_id">

        </mat-form-field>

        <mat-form-field appearance="legacy" class="input3">
          <mat-label>Ticket: </mat-label>
          <textarea readonly matInput rows="3" formControlName="ticket" [(ngModel)]="detalles_orden.ticket"></textarea>

        </mat-form-field>

        <br><br>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>Trabajo: </mat-label>
          <textarea readonly matInput rows="3"  autocomplete="off" formControlName="trabajo" [(ngModel)]="detalles_orden.solicitud"></textarea>

        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Fecha de solicitud: (Creacion de la orden) </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_solicitud" [(ngModel)]="detalles_orden.fecha_creacionD">

          <input  type="hidden"  autocomplete="off" formControlName="id" [(ngModel)]="detalles_orden.id">
        </mat-form-field>


        <mat-form-field appearance="legacy" class="input">
          <mat-label>Fecha de resolución: (Compromiso con el cliente) </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_resolucion" [(ngModel)]="detalles_orden.fecha_resolucionD">
        </mat-form-field>


        <mat-form-field appearance="legacy" class="input7">
          <mat-label>Presupuesto</mat-label>
          <input readonly matInput type="text" formControlName="presupuesto" autocomplete="off" [(ngModel)]="detalles_orden.presupuesto">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input6">
          <mat-label>Ingreso mensual estimado de C. de Distribución</mat-label>
          <input readonly matInput type="text" formControlName="ingr_mensuales" autocomplete="off" [(ngModel)]="detalles_orden.ingr_mensuales">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input6">
          <mat-label>Ingreso anual estimado de C. de Distribución</mat-label>
          <input readonly matInput type="text" formControlName="ingr_anuales" autocomplete="off" [(ngModel)]="detalles_orden.ingr_anuales">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input7">
          <mat-label>Años estimados</mat-label>
          <input readonly matInput type="text" formControlName="anios_est" autocomplete="off" [(ngModel)]="detalles_orden.anios_est">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Dirección: </mat-label>
          <textarea readonly matInput rows="3"  autocomplete="off" formControlName="direccion" [(ngModel)]="detalles_orden.direccion"></textarea>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Solicitante: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="solicitante" [(ngModel)]="detalles_orden.solicitante">
        </mat-form-field>


        <mat-form-field appearance="legacy" class="input">
          <mat-label>Gerencia: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="gerencia" [(ngModel)]="detalles_orden.gerencia_solicita">
        </mat-form-field>






        <mat-form-field appearance="legacy" class="input">
          <mat-label>Observaciones del solicitante: </mat-label>
          <textarea readonly matInput rows="3"  autocomplete="off" formControlName="observaciones_soli" [(ngModel)]="detalles_orden.observaciones"></textarea>
        </mat-form-field>


        <div *ngIf="(user.alias == 'mvanegas') && detalles_orden.aprobLegal == 'Pendiente'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Comentario de Área Legal</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea  matInput rows="3"  autocomplete="off" formControlName="comentario_legal" ></textarea>
          </mat-form-field>
          <br>

          <table>
            <tr>
              <th>
                <button mat-raised-button color="basic" class="success" (click)="comentariolegal()">Guardar comentario</button>
              </th>
          </table>

        </div>


        <div *ngIf="detalles_orden.aprobLegal == 'Aprobada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Comentario de área Legal</h2>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_apLegal"  [(ngModel)]="detalles_orden.comentario_legal"></textarea>
          </mat-form-field>



        <mat-form-field appearance="legacy" class="input">
          <mat-label>Fecha: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_legal" [(ngModel)]="detalles_orden.fecha_legal">
        </mat-form-field>


        </div>

        <div *ngIf="(user.alias == 'fsolano' || user.alias == 'leobolanos' || user.alias == 'fmejia') && detalles_orden.aprobTecnica == 'Pendiente'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobar/Denegar orden por Gerencia Técnica</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea  matInput rows="3"  autocomplete="off" formControlName="comentario" ></textarea>
            <input type="hidden" formControlName="user" [(ngModel)]="user.id">
          </mat-form-field>
          <br>

          <table>
            <tr>
              <th>
                <button mat-raised-button color="basic" class="success" (click)="aprobarOrdenTecnica()"><mat-icon>thumb_up</mat-icon> Aprobar orden por gerencia técnica</button>
              </th>
              <th>
                <button mat-raised-button color="warn" (click)="denegarOrdenTecnica()"><mat-icon>thumb_down</mat-icon> Denegar orden</button>
              </th>
          </table>

        </div>


        <div *ngIf="(user.alias == 'fsolano' || user.alias == 'fmejia') && detalles_orden.aprobGg == 'Pendiente'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobar/Denegar orden por Gerencia General</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea  matInput rows="3"  autocomplete="off" formControlName="comentario1gg" ></textarea>
            <input type="hidden" formControlName="user" [(ngModel)]="user.id">
          </mat-form-field>
          <br>

          <table>
            <tr>
              <th>
                <button mat-raised-button color="basic" class="success" (click)="aprobarOrdenGG()"><mat-icon>thumb_up</mat-icon> Aprobar orden por gerencia general</button>
              </th>
              <th>
                <button mat-raised-button color="warn" (click)="denegarOrdenGG()"><mat-icon>thumb_down</mat-icon> Denegar orden</button>
              </th>
          </table>

        </div>


        <br>


        <div style="margin-left: 3% !important;" *ngIf="(user.alias == 'rchevez' || user.alias == 'eescobar' || user.alias == 'aortiz' || user.alias == 'fsolano') && (detalles_orden.aprobVentas == 'Pendiente')">
          <h2 style="color: orangered !important;">Aprobar/Denegar orden por área comercial</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea  matInput rows="3"  autocomplete="off" formControlName="comentario" ></textarea>
          </mat-form-field>
          <input type="hidden" formControlName="user" [(ngModel)]="user.id">
          <br>

          <table>
            <tr>
              <th>
                <button mat-raised-button color="basic" class="success" (click)="aprobarOrdenVentas()"><mat-icon>thumb_up</mat-icon> Aprobar orden por área comercial</button>
              </th>
              <th>
                <button mat-raised-button color="warn" (click)="denegarOrdenVentas()"><mat-icon>thumb_down</mat-icon> Denegar orden</button>
              </th>
          </table>

        </div>


        <div style="margin-left: 3% !important;" *ngIf="(user.alias == 'arivera' || user.alias == 'fsolano')   && (detalles_orden.aprobFf == 'Pendiente')">
          <h2 style="color: orangered !important;">Aprobar/Denegar orden por área de finanzas</h2>

          <mat-form-field appearance="legacy" style="width: 90% !important;">
            <mat-label>Comentario: </mat-label>
            <textarea  matInput rows="3"  autocomplete="off" formControlName="comentarioff" ></textarea>
          </mat-form-field>
          <input type="hidden" formControlName="user" [(ngModel)]="user.id">
          <br>

          <table>
            <tr>
              <th>
                <button mat-raised-button color="basic" class="success" (click)="aprobarOrdenFinanzas()"><mat-icon>thumb_up</mat-icon> Aprobar orden por área de finanzas</button>
              </th>
              <th>
                <button mat-raised-button color="warn" (click)="denegarOrdenFinanzas()"><mat-icon>thumb_down</mat-icon> Denegar orden</button>
              </th>
          </table>

        </div>


        <br>
        <div *ngIf="detalles_orden.aprobVentas == 'Aprobada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobación de área comercial</h2>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_apV"  [(ngModel)]="detalles_orden.comentarioaprob_ventas"></textarea>
          </mat-form-field>



        <mat-form-field appearance="legacy" class="input">
          <mat-label>Fecha de aprobación: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_comercial_aprob" [(ngModel)]="detalles_orden.fecha_comercial_aprob">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Usuario: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_comer" [(ngModel)]="detalles_orden.usuario_comer">
        </mat-form-field>
        </div>


        <div *ngIf="detalles_orden.aprobTecnica == 'Aprobada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobación de área técnica</h2>

          <mat-form-field appearance="legacy"  class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_apAd"  [(ngModel)]="detalles_orden.comentarioaprob_admin"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Fecha de aprobación: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_tecnica_aprob" [(ngModel)]="detalles_orden.fecha_tecnica_aprob">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Usuario: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_tec" [(ngModel)]="detalles_orden.usuario_tec">
          </mat-form-field>
        </div>

        <div *ngIf="detalles_orden.aprobGg == 'Aprobada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobación de Gerencia General</h2>

          <mat-form-field appearance="legacy"  class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_apgg"  [(ngModel)]="detalles_orden.comentarioaprob_gg"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Fecha de aprobación: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_gg_aprob" [(ngModel)]="detalles_orden.fecha_gg_aprob">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Usuario: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_gg" [(ngModel)]="detalles_orden.usuario_gg">
          </mat-form-field>
        </div>


        <div *ngIf="detalles_orden.aprobFf == 'Aprobada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Aprobación de Gerencia de Finanzas</h2>

          <mat-form-field appearance="legacy"  class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentarioaprob_finanzas"  [(ngModel)]="detalles_orden.comentarioaprob_finanzas"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Fecha de aprobación: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_ff_aprob" [(ngModel)]="detalles_orden.fecha_ff_aprob">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Usuario: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_ff" [(ngModel)]="detalles_orden.usuario_ff">
          </mat-form-field>
        </div>



        <div *ngIf="detalles_orden.aprobFf == 'Denegada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Denegación de Gerencia Finanzas</h2>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentarioaprob_finanzas"  [(ngModel)]="detalles_orden.comentariodenegacion_finanzas"></textarea>
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input">
            <mat-label>Fecha de denegación: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_ff_aprob" [(ngModel)]="detalles_orden.fecha_ff_aprob">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input">
            <mat-label>Usuario: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_ff" [(ngModel)]="detalles_orden.usuario_ff">
          </mat-form-field>
        </div>

        <div *ngIf="detalles_orden.aprobGg == 'Denegada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Denegación de Gerencia General</h2>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_gg"  [(ngModel)]="detalles_orden.comentariodenegacion_gg"></textarea>
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input">
            <mat-label>Fecha de denegación: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_gg_aprob" [(ngModel)]="detalles_orden.fecha_gg_aprob">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input">
            <mat-label>Usuario: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_gg" [(ngModel)]="detalles_orden.usuario_gg">
          </mat-form-field>
        </div>


        <div *ngIf="detalles_orden.aprobVentas == 'Denegada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Denegación de área comercial</h2>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_deV"  [(ngModel)]="detalles_orden.comentariodenegacion_ventas"></textarea>
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input">
            <mat-label>Fecha de denegación: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_comercial_aprob" [(ngModel)]="detalles_orden.fecha_comercial_aprob">
          </mat-form-field>


          <mat-form-field appearance="legacy" class="input">
            <mat-label>Usuario: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_comer" [(ngModel)]="detalles_orden.usuario_comer">
          </mat-form-field>
        </div>


        <div *ngIf="detalles_orden.aprobTecnica == 'Denegada'" style="margin-left: 3% !important;">
          <h2 style="color: orangered !important;">Denegación de área técnica</h2>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Comentario: </mat-label>
            <textarea readonly matInput rows="3"  autocomplete="off" formControlName="comentario_deAd"  [(ngModel)]="detalles_orden.comentariodenegacion"></textarea>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Fecha de denegación: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="fecha_tecnica_aprob" [(ngModel)]="detalles_orden.fecha_tecnica_aprob">
          </mat-form-field>

          <mat-form-field appearance="legacy" class="input">
            <mat-label>Usuario: </mat-label>
            <input readonly matInput type="text"  autocomplete="off" formControlName="usuario_tec" [(ngModel)]="detalles_orden.usuario_tec">
          </mat-form-field>
        </div>








      </form>



</div>

<div mat-dialog-actions>
  <br><br>
  <div *ngIf="detalles_orden.aprobTecnica == 'Aprobada' && detalles_orden.aprobVentas == 'Aprobada' && detalles_orden.aprobGg == 'Aprobada'"
  style="width: 90% !important;margin-left: 5% !important;margin-right: 5% !important;">
    <button mat-raised-button color="basic" class="success" (click)="generarHoja()" style="width: 100% !important;"> Imprimir Orden</button>
  </div>
</div>




