.input{
  margin-left: 2% !important;
  width: 30% !important;
}



form{
  width: 100% !important;
  margin: auto !important;
  margin-top: 40px !important;
}

mat-icon{
  color: white !important;
}

button{
  width: 90% !important;
}


.input2{
  margin-left: 2% !important;
  width: 45% !important;
}


.input3{
  margin-left: 2% !important;
  width: 21% !important;
}


.input4{
  margin-left: 2% !important;
  width: 6% !important;
}


.input7{
  margin-left: 2% !important;
  width: 12% !important;
}

.input6{
  margin-left: 2% !important;
  width: 32% !important;
}

