.input{
  margin-left: 2% !important;
  width: 30% !important;
}

form{
  width: 100% !important;
  margin: auto !important;
  margin-top: 40px !important;
}

mat-icon{
  color: white !important;
}

button{
  width: 90% !important;
}
