.input{
  width: 30% !important;
}

.input_f{
  width: 60% !important;
  margin-right: 5% !important;
}

.input_f2{
  width: 35% !important;
}


.btn_form{
  margin-left: 3% !important;
}
mat-icon{
  color: white !important;
}
