<h3 class="title">Editar cláusulas aclaratorias</h3>
<mat-divider></mat-divider>

<form [formGroup]="carta_form"><br><br>
  <mat-form-field appearance="legacy" class="input">
    <mat-label>Tipo de solicitud: </mat-label>
    <mat-select formControlName="carta">
      <mat-option   *ngFor="let ob of data_motivosatn" [value]="ob.id">{{ob.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="choose()" [disabled]="carta_form.invalid" class="btn_form">Editar claúsulas</button>
</form>
<br>
<div *ngIf="visibilidad">
  <mat-divider></mat-divider>
  <br>
  <h3>Agregar nueva cláusula</h3>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="nuevo_parrafo_form">
    <mat-form-field appearance="legacy" class="input_f">
      <mat-label>Descripción: </mat-label>
      <textarea rows="6" matInput  autocomplete="off" formControlName="parrafo" ></textarea>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="inputf2">
      <mat-label>Tipo: </mat-label>
      <mat-select formControlName="tipo">
        <mat-option value="Aclaratoria">Aclaratoria</mat-option>
        <mat-option value="Fija">Fija</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="addnew_parrafo()" [disabled]="nuevo_parrafo_form.invalid" class="btn_form"><mat-icon>add</mat-icon> Agregar</button>
  </form>
  <br><br>
  <mat-divider></mat-divider>

  <br>
  <h3>Claúsulas guardadas</h3>
  <mat-divider></mat-divider>

  <br><br>
  <form [formGroup]="parrafos_form">
    <div formArrayName="parrafos">
      <div *ngFor="let item of parrafos.controls; let pointIndex=index" [formGroupName]="pointIndex">

        <input type="hidden" formControlName="id_tipo_solicitud">
        <input type="hidden" formControlName="id">
        <mat-form-field appearance="legacy" class="input_f">
          <mat-label>Descripción: </mat-label>
          <textarea rows="6" matInput  autocomplete="off" formControlName="parrafo" ></textarea>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="inputf2">
          <mat-label>Tipo: </mat-label>
          <input type="text" formControlName="tipo" readonly="true" matInput>
        </mat-form-field>
        <button mat-mini-fab color="primary" matTooltip="Guardar modificaciones" matTooltipPosition="above" (click)="edit_parrafo(item.value.id, pointIndex)"  class="btn_form"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="warn" (click)="delete_parrafo(item.value.id, pointIndex)" matTooltip="Eliminar" matTooltipPosition="above" class="btn_form"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </form>


</div>


