<mat-tab-group>
  <mat-tab label="CRM" *ngIf="rol_caja_cliente === false">
    <mat-tab-group style="margin-left: 3% !important;margin-right: 3% !important;" (selectedTabChange)="getAllAtenciones()">
      <mat-tab label="Abiertas" class="tabs" >
        <br>
        <h3 class="title">Atenciones Abiertas</h3>
        <mat-divider></mat-divider>


        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
        </mat-paginator>

        <mat-form-field appearance="legacy" class="input_search">
          <mat-label>Buscar en tabla: </mat-label>
          <input  matInput type="text" [(ngModel)]="texto1"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_atnAbiertas($event)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource_atnAbiertas"  >

        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row1"> {{row1.id}}
            <button mat-mini-fab color="basic" class="success" matTooltip="Detalles de la atención" matTooltipPosition="right"
             (click)="verDetalleAtencion(row1)"><mat-icon>remove_red_eye</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row1" class="cli"> {{row1.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCreacion">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let row1"> {{row1.usuarioCreacion}} </td>
        </ng-container>

        <ng-container matColumnDef="titulo_atn">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let row1">{{row1.titulo_atn}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let row1"  class="desc">
            <div class="desc_div">
              {{row1.descripcion}}
            </div> </td>
        </ng-container>

        <ng-container matColumnDef="fechaC">
          <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
          <td mat-cell *matCellDef="let row1"> {{row1.fechaC}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let row1"> {{row1.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row1" class="acciones">
            <button mat-mini-fab color="primary" matTooltip="Nueva macrotarea" matTooltipPosition="above" (click)="nuevoEvento(row1)">
              <mat-icon>add</mat-icon>
            </button>

            <button  mat-mini-fab color="warn" matTooltip="Cerrar atención" matTooltipPosition="above" (click)="cerrarAtencion(row1)">
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row1; columns: displayedColumns;"></tr>
        </table>


      </mat-tab>

      <mat-tab label="Cerradas" class="tabs" >
        <br>
        <h3 class="title">Atenciones Cerradas</h3>
        <mat-divider></mat-divider>

        <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
        </mat-paginator>

        <mat-form-field appearance="legacy" class="input_search">
          <mat-label>Buscar en tabla: </mat-label>
          <input  matInput type="text" [(ngModel)]="texto2"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_atnCerradas($event)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource_atnCerradas"  >

        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row2"> {{row2.id}}
            <button mat-mini-fab color="primary" matTooltip="Detalles de la atención" matTooltipPosition="right"
             (click)="verDetalleAtencion(row2)"><mat-icon>remove_red_eye</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row2" class="cli"> {{row2.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCreacion">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let row2"> {{row2.usuarioCreacion}} </td>
        </ng-container>


        <ng-container matColumnDef="titulo_atn">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let row2">
              {{row2.titulo_atn}}
            </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let row2"  class="desc">
            <div class="desc_div">
              {{row2.descripcion}}
            </div> </td>
        </ng-container>

        <ng-container matColumnDef="fechaC">
          <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
          <td mat-cell *matCellDef="let row2"> {{row2.fechaC}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let row2"> {{row2.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row2">


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row2; columns: displayedColumns;"></tr>
        </table>



      </mat-tab>


      <mat-tab label="Todas las atenciones" class="tabs">
        <br>
        <h3 class="title">Todas las atenciones</h3>
        <mat-divider></mat-divider>

        <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
        </mat-paginator>

        <mat-form-field appearance="legacy" class="input_search">
          <mat-label>Buscar en tabla: </mat-label>
          <input  matInput type="text" [(ngModel)]="texto"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_atnTodas($event)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource_atnTodas"  >

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}}
              <button mat-mini-fab color="basic" class="success" matTooltip="Detalles de la atención" matTooltipPosition="right"
             (click)="verDetalleAtencion(row)"><mat-icon>remove_red_eye</mat-icon></button>
            </td>
          </ng-container>
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let row" class="cli"> {{row.cliente }}</td>
          </ng-container>

          <ng-container matColumnDef="usuarioCreacion">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let row"> {{row.usuarioCreacion}} </td>
          </ng-container>

          <ng-container matColumnDef="titulo_atn">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let row">
                {{row.titulo_atn}}</td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let row"  class="desc">
              <div class="desc_div">
                {{row.descripcion}}
              </div> </td>
          </ng-container>

          <ng-container matColumnDef="fechaC">
            <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
            <td mat-cell *matCellDef="let row"> {{row.fechaC}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
          </ng-container>

          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row" class="acciones">
              <button mat-mini-fab color="primary" matTooltip="Nueva macrotarea" matTooltipPosition="above" *ngIf="row.estado !='Cerrada'" (click)="nuevoEvento(row)">
                <mat-icon>add</mat-icon>
              </button>
              <button  mat-mini-fab color="warn" matTooltip="Cerrar atención" matTooltipPosition="above" *ngIf="row.estado !='Cerrada'" (click)="cerrarAtencion(row)">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </mat-tab>
    </mat-tab-group>
  </mat-tab>

  <mat-tab label="GESTIONES COMERCIALES">
    <mat-tab-group style="margin-left: 3% !important;margin-right: 3% !important;" (selectedTabChange)="getAllAtencionesgc()">
      <mat-tab label="Abiertas" class="tabs1">
        <br>
        <h3 class="title">Atenciones Abiertas</h3>
        <mat-divider></mat-divider>


        <mat-paginator #paginator2gc [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
        </mat-paginator>

        <mat-form-field appearance="legacy" class="input_search">
          <mat-label>Buscar en tabla: </mat-label>
          <input  matInput type="text" [(ngModel)]="texto1gc"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_atnAbiertasgc($event)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource_atnAbiertasgc"  >

        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row1"> {{row1.id}}
            <button mat-mini-fab color="basic" class="success" matTooltip="Detalles de la atención" matTooltipPosition="right"
             (click)="verDetalleAtencion(row1)"><mat-icon>remove_red_eye</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row1" class="cli"> {{row1.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCreacion">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let row1"> {{row1.usuarioCreacion}} </td>
        </ng-container>

        <ng-container matColumnDef="titulo_atn">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let row1">{{row1.titulo_atn}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let row1"  class="desc">
            <div class="desc_div">
              {{row1.descripcion}}
            </div> </td>
        </ng-container>

        <ng-container matColumnDef="fechaC">
          <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
          <td mat-cell *matCellDef="let row1"> {{row1.fechaC}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let row1"> {{row1.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row1" class="acciones">
            <button mat-mini-fab color="primary" matTooltip="Nueva macrotarea" matTooltipPosition="above" (click)="nuevoEvento(row1)">
              <mat-icon>add</mat-icon>
            </button>

            <button  mat-mini-fab color="warn" matTooltip="Cerrar atención" matTooltipPosition="above" (click)="cerrarAtencion(row1)">
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row1; columns: displayedColumns;"></tr>
        </table>


      </mat-tab>

      <mat-tab label="Cerradas" class="tabs1">
        <br>
        <h3 class="title">Atenciones Cerradas</h3>
        <mat-divider></mat-divider>

        <mat-paginator #paginator3gc [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
        </mat-paginator>

        <mat-form-field appearance="legacy" class="input_search">
          <mat-label>Buscar en tabla: </mat-label>
          <input  matInput type="text" [(ngModel)]="texto2gc"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_atnCerradasgc($event)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource_atnCerradasgc"  >

        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row2"> {{row2.id}}
            <button mat-mini-fab color="primary" matTooltip="Detalles de la atención" matTooltipPosition="right"
             (click)="verDetalleAtencion(row2)"><mat-icon>remove_red_eye</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row2" class="cli"> {{row2.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCreacion">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let row2"> {{row2.usuarioCreacion}} </td>
        </ng-container>


        <ng-container matColumnDef="titulo_atn">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let row2">
              {{row2.titulo_atn}}
            </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let row2"  class="desc">
            <div class="desc_div">
              {{row2.descripcion}}
            </div> </td>
        </ng-container>

        <ng-container matColumnDef="fechaC">
          <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
          <td mat-cell *matCellDef="let row2"> {{row2.fechaC}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let row2"> {{row2.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row2">


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row2; columns: displayedColumns;"></tr>
        </table>



      </mat-tab>



      <mat-tab label="Anuladas" class="tabs1">
        <br>
        <h3 class="title">Atenciones Anuladas</h3>
        <mat-divider></mat-divider>

        <mat-paginator #paginator4gc [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
        </mat-paginator>

        <mat-form-field appearance="legacy" class="input_search">
          <mat-label>Buscar en tabla: </mat-label>
          <input  matInput type="text" [(ngModel)]="texto3gc"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_atnAnuladasgc($event)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource_atnAnuladasgc"  >

        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row2"> {{row2.id}}
            <button mat-mini-fab color="primary" matTooltip="Detalles de la atención" matTooltipPosition="right"
             (click)="verDetalleAtencion(row2)"><mat-icon>remove_red_eye</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row2" class="cli"> {{row2.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCreacion">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let row2"> {{row2.usuarioCreacion}} </td>
        </ng-container>


        <ng-container matColumnDef="titulo_atn">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let row2">
              {{row2.titulo_atn}}
            </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let row2"  class="desc">
            <div class="desc_div">
              {{row2.descripcion}}
            </div> </td>
        </ng-container>

        <ng-container matColumnDef="fechaC">
          <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
          <td mat-cell *matCellDef="let row2"> {{row2.fechaC}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let row2"> {{row2.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row2">


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row2; columns: displayedColumns;"></tr>
        </table>



      </mat-tab>

      <mat-tab label="Todas las atenciones" class="tabs1">
        <br>
        <h3 class="title">Todas las atenciones</h3>
        <mat-divider></mat-divider>

        <mat-paginator #paginator1gc [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
        aria-label="Cantidad de registros a mostrar">
        </mat-paginator>

        <mat-form-field appearance="legacy" class="input_search">
          <mat-label>Buscar en tabla: </mat-label>
          <input  matInput type="text" [(ngModel)]="textogc"  placeholder="Buscar" autocomplete="off" (ngModelChange)="filterTable_atnTodasgc($event)">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource_atnTodasgc"  >

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}}
              <button mat-mini-fab color="basic" class="success" matTooltip="Detalles de la atención" matTooltipPosition="right"
             (click)="verDetalleAtencion(row)"><mat-icon>remove_red_eye</mat-icon></button>
            </td>
          </ng-container>
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let row" class="cli"> {{row.cliente }}</td>
          </ng-container>

          <ng-container matColumnDef="usuarioCreacion">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let row"> {{row.usuarioCreacion}} </td>
          </ng-container>

          <ng-container matColumnDef="titulo_atn">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let row">
                {{row.titulo_atn}}</td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let row"  class="desc">
              <div class="desc_div">
                {{row.descripcion}}
              </div> </td>
          </ng-container>

          <ng-container matColumnDef="fechaC">
            <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
            <td mat-cell *matCellDef="let row"> {{row.fechaC}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
          </ng-container>

          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row" class="acciones">
              <button mat-mini-fab color="primary" matTooltip="Nueva macrotarea" matTooltipPosition="above" *ngIf="row.estado !='Cerrada'" (click)="nuevoEvento(row)">
                <mat-icon>add</mat-icon>
              </button>
              <button  mat-mini-fab color="warn" matTooltip="Cerrar atención" matTooltipPosition="above" *ngIf="row.estado !='Cerrada'" (click)="cerrarAtencion(row)">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>






