

<mat-toolbar class="headbar">
  <button mat-icon-button class="example-icon"[matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <a mat-button color="warn" routerLink="template">
    <mat-icon>home</mat-icon>
  </a>


  <img src="./assets/img/user.png">&nbsp; <h2 class="navTittle">{{user.nombre}} {{user.apellido}}</h2>

  <span class="indicador_menu">Estás en: </span><span class="nombre_menu">{{dashboard}} </span>

  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="verManual()" class="btn_manual">Ver manual</button>
  <a mat-button color="warn" (click)="cerrarSesion()">
    <mat-icon>logout</mat-icon>
    <span>Salir</span>
  </a>



</mat-toolbar>


<mat-menu #menu="matMenu">
  <h2 class="cl-title" *ngIf="rol_caja_cliente === false">Clientes</h2>

  <h2 class="cl-title1" *ngIf="rol_caja_cliente === true">Gest. comerciales</h2>

  <button  mat-menu-item routerLink="cli-prospectos" *ngIf="rol_caja_cliente === false">
    <mat-icon>people alt</mat-icon>
    <span class="span-menu">Prospectos y Stakeholders</span>
  </button>
  <br>
  <mat-divider></mat-divider>

  <button mat-menu-item routerLink="suministros">
    <mat-icon>segment</mat-icon>
    <span class="span-menu">Suministros</span>
  </button>

  <mat-divider></mat-divider>

  <button  mat-menu-item routerLink="atenciones">
    <mat-icon>notifications</mat-icon>
    <span class="span-menu">Atenciones</span>
  </button>

  <mat-divider></mat-divider>

  <button  mat-menu-item routerLink="eventos">
    <mat-icon>event</mat-icon>
    <span class="span-menu">Macrotarea</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item routerLink="tickets">
    <mat-icon>confirmation_number</mat-icon>
    <span class="span-menu">Tickets</span>
  </button>

  <mat-divider></mat-divider>

<button  mat-menu-item routerLink="otecnicas" *ngIf="rol_caja_cliente === false">
    <mat-icon>description</mat-icon>
    <span class="span-menu">Órdenes técnicas</span>
  </button>


  <mat-divider></mat-divider>

  <button  mat-menu-item routerLink="motivoatn" *ngIf="user.alias == 'fsolano'">
    <mat-icon>notifications</mat-icon>
    <span class="span-menu">Motivos de atención</span>
  </button>


  <button  mat-menu-item routerLink="reportes" *ngIf="
  (user.alias =='fsolano' ||
  user.alias =='leobolanos' ||
  user.alias =='rlopez' ||
  user.alias =='rchevez' ||
  user.alias =='arivera' ||
  user.alias =='aortiz' ||
  user.alias =='mvanegas' )">
    <mat-icon>print</mat-icon>
    <span class="span-menu">Reportes</span>
  </button><br>


  <h2 class="cl-title" *ngIf="user.alias =='aortiz' || user.alias =='abolaños' ">Gest. Comerciales</h2>
  <mat-divider></mat-divider>
  <button  mat-menu-item routerLink="motivoatn" *ngIf="user.alias =='aortiz' || user.alias =='abolaños' ">
    <mat-icon>notifications</mat-icon>
    <span class="span-menu">Tipo de Solicitud</span>
  </button>


  <mat-divider *ngIf="user.alias =='aortiz' || user.alias =='abolaños' "></mat-divider>

  <button  mat-menu-item routerLink="mttocartas" *ngIf="user.alias =='aortiz' || user.alias =='abolaños' ">
    <mat-icon>calendar_view_day</mat-icon>
    <span class="span-menu">Mtto. Cartas Auxiliares</span>
  </button>

</mat-menu>

<div class="container">
  <br>
  <router-outlet></router-outlet>
  <br>
</div>


