.indicador_menu{
  margin-left: 5% !important;
  font-weight: bold !important;

}
.nombre_menu{
  margin-left: 1% !important;
  font-weight: bold !important;
  color:black !important;
}
.close{
  float: right !important;
}

.headbar{
  background-color: #FFFFFF !important;
  box-shadow: 0 0px 2px rgba(0,0,0,0.30), 0 3px 5px rgba(0,0,0,0.22);
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 10;
}

.example-spacer {
  flex: 1 1 auto;
}

.navTittle{
  color: black !important;
}

.container{

  margin-top: 5% !important;
  margin-left: 4% !important;
  margin-right: 4% !important;
  margin-bottom: 20% !important;
}

span{
  font-family: 'Montserrat', sans-serif !important;
  color: black !important;
}

mat-menu{
  width: 900px !important;
}

.cl-title{
  font-family: 'Montserrat', sans-serif !important;
  color: #011624 !important;
  text-align: center !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.cl-title1{
  font-family: 'Montserrat', sans-serif !important;
  color: #011624 !important;
  text-align: center !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.span-menu{
  font-size: 12px !important;
}





