<div mat-dialog-content>
  <h2>¿Desea generar ticket sobre la macrotarea {{evento_id}}?</h2>
</div>


<div mat-dialog-actions>
  <table>
    <tr>
      <th>
        <button mat-raised-button color="basic" class="success" (click)="generarTicket()">Si, generar ticket</button>
      </th>
      <th>
        <button mat-raised-button color="primary"
        (click)="cerrarModal()">No, {{accion}}</button>
      </th>

      <th>
        <button mat-raised-button color="warn"
        (click)="cerrarModalTodos()">Cerrar</button>
      </th>
  </table>
</div>
