<div mat-dialog-content>
  <h2>Crear contacto para cliente {{datos_cliente.nombrecliente}} {{datos_cliente.apellidocliente}}</h2>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="form_contacto">
      <h3>Datos para actualizar</h3>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Codigo de cliente: </mat-label>
          <input readonly matInput type="text"  autocomplete="off" formControlName="codigo" [(ngModel)]="datos_cliente.codigo">
          <input   type="hidden"  autocomplete="off" formControlName="usuario" [(ngModel)]="user.id">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Nombre contacto: </mat-label>
          <input  matInput type="text"  autocomplete="off" formControlName="nombre" [(ngModel)]="datos_cont.nombre_contacto">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Cargo del contacto: </mat-label>
          <input  matInput type="text"  autocomplete="off" formControlName="cargo" [(ngModel)]="datos_cont.cargo_contacto">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Correo electrónico: </mat-label>
          <input  matInput type="text"  autocomplete="off" formControlName="correo" [(ngModel)]="datos_cont.correo_contacto">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input">
          <mat-label>Telefono: </mat-label>
          <input  matInput type="text"  autocomplete="off" formControlName="telefono1" [(ngModel)]="datos_cont.telefono_1">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="input">
          <mat-label>Celular: </mat-label>
          <input  matInput type="text"  autocomplete="off" formControlName="celular1" [(ngModel)]="datos_cont.celular_1">
        </mat-form-field>
  </form>

  <button mat-raised-button class="lg_btn" color="primary" (click)="agregarContacto()">Crear contacto</button>


</div>
