.input{
  width: 60% !important;
  margin-left: 2% !important;
}

.lg_btn{
  margin-left: 3% !important;
  width: 35% !important;
}

.input1{
  width: 23% !important;
  margin-left: 2% !important;
}

.lg_btn1{
  margin-left: 2% !important;
  width: 23% !important;
}


.input2{
  width: 32% !important;
  margin-left: 2% !important;
}

.lg_btn2{
  margin-left: 2% !important;
  width: 30% !important;
}

h3{
  font-weight: bold !important;
}
