<h3 class="title">Mis Clientes Prospectos, Stakeholders y que otros usuarios me han compartido</h3>
<mat-divider></mat-divider>


<mat-tab-group>
  <mat-tab label="Mis Clientes Prospectos y Stakeholders" class="tabs">
    <br><br>
    <h2>Prospectos y stakeholders</h2>
      <table mat-table [dataSource]="dataSource"  >

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="nomCategoria">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let row"> {{row.nomCategoria }}</td>
        </ng-container>
        <ng-container matColumnDef="nombrecliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row"> {{row.nombrecliente}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Direccion </th>
          <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
        </ng-container>


        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-mini-fab color="warn" matTooltip="Nueva atención" matTooltipPosition="left"
            (click)="open_modal_atenciones(row)"><mat-icon>notifications</mat-icon></button>
            <button (click)="getClienteByName(row)" mat-mini-fab color="accent" matTooltip="Detalles del cliente" matTooltipPosition="above"><mat-icon>list</mat-icon></button>
            <button mat-mini-fab color="primary" matTooltip="Nuevo contacto" matTooltipPosition="right"><mat-icon>people</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator1 [pageSizeOptions]="[2, 5, 10, 20, 100]"
                     showFirstLastButtons
                     aria-label="Cantidad de registros a mostrar">
      </mat-paginator>



<app-detalles-cliente [datos_cliente]='datos_cliente' [datos_contacto]='datos_contacto' [datos_suministro]='datos_suministro' [mostrarDatos]="mostrarDatos" [cargaDatos]="cargaDatos" [notfound]="notfound"></app-detalles-cliente>


  </mat-tab>


  <mat-tab label="Clientes que otros usuarios me han compartido">

    <br><br>
    <h2>Clientes que otros usuarios me han compartido</h2>
      <table mat-table [dataSource]="dataSource1">

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let row1"> {{row1.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="nomCategoria">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let row1"> {{row1.nomCategoria }}</td>
        </ng-container>
        <ng-container matColumnDef="nombrecliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row1"> {{row1.nombrecliente}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Direccion </th>
          <td mat-cell *matCellDef="let row1"> {{row1.direccion}} </td>
        </ng-container>


        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row1">
            <button mat-mini-fab color="warn" matTooltip="Nueva atención" matTooltipPosition="left"
            (click)="open_modal_atenciones(row1)"><mat-icon>notifications</mat-icon></button>
            <button (click)="getClienteByName(row1)" mat-mini-fab color="accent" matTooltip="Detalles del cliente" matTooltipPosition="above"><mat-icon>list</mat-icon></button>
            <button mat-mini-fab color="primary" matTooltip="Nuevo contacto" matTooltipPosition="right"><mat-icon>people</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row1; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator  #paginator2 [pageSizeOptions]="[2, 5, 10, 20, 100]"
                     showFirstLastButtons
                     aria-label="Cantidad de registros a mostrar">
      </mat-paginator>

      <app-detalles-cliente [datos_cliente]='datos_cliente' [datos_contacto]='datos_contacto' [datos_suministro]='datos_suministro' [mostrarDatos]="mostrarDatos" [cargaDatos]="cargaDatos" [notfound]="notfound"></app-detalles-cliente>


  </mat-tab>

</mat-tab-group>
