<div mat-dialog-content>
  <h2 style="color: green !important; text-align: center !important;">¡¡Se guardó la atención !!</h2><br>

  <h2>¿Desea generar macrotarea sobre la atención {{atencion_id}}?</h2>
</div>


<div mat-dialog-actions>
  <table>
    <tr>
      <th>
        <button mat-raised-button color="basic" class="success" (click)="generarEvento()">Si, Generar macrotarea</button>
      </th>
      <th>
        <button mat-raised-button color="warn"
        (click)="cerrarModal()">{{accion}}</button>
      </th>
  </table>
</div>
